//The configuration file is simple:
//NOTIFY DELAY=<number> being number in the range 60-1200 seconds
//ENABLE NOTIFY=TRUE/FALSE anything other than that means false.
//INITIAL TIMER=<number> the initial countdown timer
//PERSISTENT TIMER=TRUE/FALSE anything other than that means false.

NOTIFY DELAY=60
ENABLE NOTIFY=TRUE
INITIAL TIMER=300
PERSISTENT TIMER=TRUE
